querylog
*.kdev4
.project
.buildpath
.settings
eventlog
config.local.ini
config_section
/build
/vendor
bower.json
.bowerrc
backup
deploy.tar.gz
owncloud
owncloud-sams
php5.ini
backup-2014-09-14
uploads
test
